body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1D1A39;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #384358;
    color: #FFFFFF;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 200px;
    overflow-y: auto;
}

.registration-card h2,
.list-screen h2 {
    letter-spacing: 0.81em;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background: #ddd;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #28a745;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.list-screen {
    background-color: #384358;
}

.list-results,
.list-filter {
    width: 100%;
    list-style: none;
    padding: 0;
}

.list-results .item,
.list-filter .filter-item {
    background-color: #242d3d22;
    border-bottom: 1px solid #28a745;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer .name-lower-left,
.footer .name-upper-right,
.footer .university-lower-right {
    position: absolute;
    color: white;
    font-size: 1em;
    opacity: 0.5;
    letter-spacing: 0.81em;
}

.name-lower-left {
    bottom: 10px;
    left: 10px;
}

.name-upper-right {
    top: 10px;
    right: 10px;
}

.university-lower-right {
    bottom: 10px;
    right: 10px;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}

/* Additional styles for filter inputs and filter button */
.input-filter {
    width: calc(50% - 10px);
    /* Ajuste para três filtros lado a lado */
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #ddd;
}

#btn-filtrar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

#btn-filtrar:hover {
    background-color: #218838;
}

/* Clear floats after the filter inputs */
.list-filter:after {
    content: "";
    display: table;
    clear: both;
}